CMakeLists.txt.user*
CMakeUserPresets.json
TODO.md
build/
html/
latex/
.kateproject
*.kdev4
kdevelopbuild/
.vs
CMakeSettings.json
.vscode/
obs-build-dependencies/
obs-studio/
packaging/*.dll
packaging/*.lib
packaging/*.exe
